---
import { toPath } from '@/utils/path';
import Layout from '../layouts/Layout.astro';
import { render, type CollectionEntry } from 'astro:content';
import { getPages } from '@/utils/contents';

export async function getStaticPaths() {
  const posts = await getPages(true);
  posts.forEach((post) => {
    console.log(">", toPath(post));
  });

  return posts.map((post) => ({
    params: { slug: toPath(post) },
    props: post,
  }));
}
type Props = CollectionEntry<'pages'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <h1>{post.data.title}</h1>
  <Content />
</Layout>
