---
import { toPath } from '@/utils/path';
import Layout from '../layouts/Layout.astro';
import { render, type CollectionEntry } from 'astro:content';
import { getPages } from '@/utils/contents';
import '@/styles/md-styles.scss';

export async function getStaticPaths() {
  const posts = await getPages(true);

  return posts.map((post) => ({
    params: { slug: toPath(post) },
    props: post,
  }));
}
type Props = CollectionEntry<'pages'>;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <article data-style="default">
    <h1 data-hidden={post.data.tags.title}>{post.data.title}</h1>

    <Content />
  </article>
</Layout>

<style lang="scss">
  article {
    padding: 40px 20px 60px;
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      border-bottom: 1px solid black;

      &[data-hidden='false'] {
        display: none;
      }
    }
  }
</style>
