---
import Render from '@/components/Render.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import ImageSectino from '@/components/ImageSectino.astro';
import { prelaodImageMap } from '@/utils/images';

const posts = await getCollection('pages');
const page = posts.find((post) => post.data.tags.path === '');

if (page === undefined || page.body === undefined) throw new Error('404');

const contents = page.body.split('---');
---

<Layout>
  <ImageSectino src={prelaodImageMap.hero} />

  {
    contents.map((content, i) => (
      <>
        <ImageSectino index={i} />
        <section class="content">
          <Render markdown={content} style='no-underline' />
        </section>
      </>
    ))
  }
</Layout>

<style lang="scss">
  .hero {
    width: 100%;
    height: 100%;
  }

  .content {
    max-width: 800px;
    padding: 70px 20px 80px;
    margin-inline: auto;
  }
</style>
