---
import { IMAGE_MAP, IMAGES } from '@/utils/images';
import { Image } from 'astro:assets';
import { pipe } from 'remeda';

interface Props {
  src?: string;
  srcId?: keyof typeof IMAGE_MAP;
  index?: number;
}
const { src: srcSnap, srcId, index } = Astro.props;

const src = pipe({ srcSnap, srcId, index }, ({ srcSnap, srcId, index }) => {
  if (srcSnap !== undefined) {
    return srcSnap;
  }
  if (srcId !== undefined) {
    return IMAGE_MAP[srcId];
  }
  if (index !== undefined) {
    return IMAGES[index % IMAGES.length];
  }
  return IMAGES[0];
});
---

<div>
  {
    typeof src === 'string' ? (
      <img src={src} alt="image" />
    ) : (
      <Image width={src.width} src={src} alt="background image" />
    )
  }
</div>

<style lang="scss">
  div {
    width: 100vw;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
