---
import { getPages } from '@/utils/contents';
import MenuLink from './MenuLink.astro';
import { toPath } from '@/utils/path';
import { Image } from 'astro:assets';
import { FOOTER_IMAGE } from '@/utils/images';
import marmot from '@/assets/marmot.webp';

const pages = await getPages();
---

<footer>
  <div class="menu">
    {pages.map((page) => <MenuLink href={toPath(page, true)} text={page.data.title} class="link" />)}
  </div>

  <div class="line"></div>

  <div class="syscat-container">
    <Image src={FOOTER_IMAGE} class="syscat" alt="シスにゃん" />

    <div class="marmot-container">
      <Image src={marmot} class="marmot" alt="会長代理" />
      <p>仲間...!!</p>
    </div>
  </div>

  <p class="copyright">SET © 2025 Copyright.</p>
</footer>

<style lang="scss">
  footer {
    height: fit-content;
    width: 100vw;
    background-color: $primary-200;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 29px;

    .menu {
      padding: 30px 30px 30px 100px;

      .link {
        line-height: 1.5rem;
      }
    }

    .line {
      height: 100%;
      max-height: 300px;
      background-color: $primary-400;
      margin-block: auto;
      display: none;
    }

    .syscat-container {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;

      .syscat {
        width: 200px;
        height: 200px;
        cursor: pointer;
      }

      .marmot-container {
        height: 150px;
        position: fixed;
        transition: all 0.3s;
        bottom: 0;
        right: 15px;
        transform: translateY(100%);

        p {
          width: 0;
          color: $primary-500;
          display: inline-block;
          position: absolute;
          top: -50px;
          left: 10px;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .syscat:hover + .marmot-container {
        transform: translateY(0);

        p {
          animation-delay: 1s;
          animation-name: typing;
          animation-duration: 1s;
          animation-timing-function: steps(8);
          animation-fill-mode: forwards;
        }
      }
    }

    .copyright {
      margin-inline: 20px;
      color: $primary-500;
      text-align: center;
      grid-column: 1 / -1;
      line-height: 28px;
      border-top: 1px solid $primary-500;
    }

    @media (min-width: 600px) {
      grid-template-columns: 1fr 1px 1fr;

      .line {
        display: block;
      }

      .syscat-container {
        display: flex;
      }
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>
